#calibrationText {
  display: block;
  font-size: 60px;
  text-align: center;
  color: red;
}

#instrumentText {
  display: block;
  text-align: center;
}

#isLoopingText {
  display: block;
  margin: auto;
  text-align: center;
}

#canvas {
  border: 1px solid black;
  margin: auto;
  display: flex;
}

#instrumentImage {
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  margin: auto;
}

.organImage {
  background-image: url('../organ.jpg');
}

.pianoImage {
  background-image: url('../piano.jpg');
}

.ePianoImage {
  background-image: url('../epiano.jpg');
}

.hidden {
  display: none;
}
